[user]
  name = kwguo
  email = shana0440@gmail.com

[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  ignorecase = false
  autocrlf = true

[alias]
  la = log --all --graph --pretty=format:'%C(auto)%h%d %s %C(bold black)(%ar by <%aN>)%Creset' --date=short
  sync = "!git pull -r --autostash upstream \"$(git rev-parse --abbrev-ref HEAD)\""
  s = status

[rebase]
  autoStash = true

[commit]
  template = ~/.gitcommit.template
