[user]
  name = kwguo
  email = shana0440@gmail.com

[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  ignorecase = false

[alias]
  la = log --all --date-order --decorate --graph --oneline
  sync = "!git pull -r --autostash upstream \"$(git rev-parse --abbrev-ref HEAD)\""
  autorebase = rebase --autostash
